 @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
 @import url("/content/impact2.ttr?family=impact&display=swap");
 @import url('/content/OpenSerif-Book.ttf?family=OpenSerif-Book&display=swap');

.container {
  position: relative;
  width: 1280px;
  background-color:#fefffe;
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  margin: auto;
}

.body {
  margin: 0;
    
}


.bar  {
    position: fixed
    top 0px;
    }
    
.trh {
    position:fixed;
    top: 0px;
    left: 0%;
    right: 0%;
    width: 100%;
    margin: auto;
    background-color: #fefffe; 
    opacity: 0.9;
       z-index: 1; 
    width: 1280px; 
    }

.dropdowntd {
    padding-left: 30px;
    position: relative;
    }

.dropbtn { 
  height: 18px;
  background-color: #fefffe;
  color: rgb(134, 134, 134);
  /* padding: 0px 0px; */
  font-size: 16px;
  border: none;
    }

.dropdowntitl {
  margin-right: 120px; 
  margin-left: 220px;
  margin-bottom: 25px;
  }

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
   }

.dropdown-content a {
  background-color: #b63737;
  color: #fefffe;
  padding: 7px 12px;
  text-decoration: none;
  display: block;
  width:120px;
 }

.dropdown-content h1 {
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
}

.list {
  background-color: #b63737;
   
}

.dropdown-content a:hover {
  color: black;
   float: right;
}

.non {
    color: #fefffe;
    padding-left: 22px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
}
.non span {
    color: rgb(57, 15, 172);
  }

span {
  color: rgb(173, 109, 109); 
}

h1 span {
  color: rgb(86, 156, 156); 
}

.dropdown:hover .dropdown-content {
  display: block;
  }

.dropdown:hover .dropbtn {
  transition: all  0.2s ease-in;
  background-color: #b63737;
  height: 80px;
  color: #fefffe;
 }


      /* Банер */

 .banner1 {
   position: relative;
   width: 1280px;
   background-color: rgb(0, 185, 185);
   height: 650px;
   margin-bottom: 0;
 }

   .banner1 img{
    opacity: 0.7;
}
 
.tru{
    position: relative;
    top: -320px;
    width: 100%;
    margin-left: 30px;
    margin-right: 0;
    padding-right: 0px;
}

.baner-word {
    color: #fefffe; 
    text-shadow: 3px 3px 3px rgb(56, 56, 56);
    max-width: 422px;
    padding-right: 15px;
    margin: auto;
}

.baner-word h2 {
    letter-spacing: 1.6rem;
    font-weight: lighter;
    margin-top: 0px;
    margin-bottom: 0px;
 }

.baner-word h1 {
    font-family: 'impact', sans-serif;
    font-weight: lighter;
    font-size: 104px;
    letter-spacing: 0rem;
    margin-top: 0px;
    margin-bottom: 0px;
 }

 .left {
    position: relative; 
    left: 7%;
    color: #fefffe;
    text-shadow: 3px 3px 3px rgb(56, 56, 56);
 }

.right {
    color: #fefffe;
    text-shadow: 3px 3px 3px rgb(56, 56, 56);  
 }


      /* Промо */

      .promos {
        top: 605px;
        width: 1280px;
        margin: auto;
        background-color: #fefffe;
        height: 260px;
        padding-top: 25px;
        padding-bottom: 25px;     
     }

      .promoscont {
        width: 1025px;
        margin: auto;
     }

      .promoscont td {
        padding-left: 9px;
      }



        /* Категории */

        .categories {
            overflow: hidden; 
            width: 1280px;
            margin: auto;
            height: 600px;
            background-color: #481ab3;  
                    
        }
       
        .categories img { 
            width: 1280px;
            margin: auto;
            opacity: 0.7;
            Z-index:1;
        }
        
        .word {
            position: relative;
            top: -550px;
            width: 100%;
            text-align:  center;
            color: #fefffe;
            font-size: 100px;
            font-family: 'OpenSerif-Book', sans-serif;
        }

        .cirkl {
            width:100%
            position: relative;
            margin: auto;
            top: -100px;   
        }

        .rowtop {
          position: relative;
          left: 63px;
          width: 105%;
          margin: 0;
          padding: 0;
        }
        
        .rowdown {
          position: relative;
          top: -100px;
          right: 60px;
          width: 105%;
          margin: 0;
          padding: 0;
                  
        }

        /* ЛЕВИС */

        .levis{
            top: -200px;
            margin: auto;
            width: 1280px;
            background-color: #fefffe;
            font-family: 'Roboto', sans-serif;
        }

        .levisgrid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
            width: 1025px;
            margin: auto;         
        }

        .columnleft {
            width: 600px;
        }

        .columnleft h1 {
            font-size:  55px;
        }
                        
        .rowleft { 
            position: relative;
            top: -26px;
            width: 600px;
            margin-bottom: 30px;
        }

        .big {
            margin-left: 75px;
        }

        .rate {
            font-weight: 100; 
            font-size:  40px; 
        }

        .basket {position: relative;
            left: 3%;            
        }

        .price {position: relative;
            left: -20px;
            font-size:  28px;
            font-weight: 900; 
        }

        .levisdif {
            display: flex;
            justify-content: center;
        }

        .smol {
            width: 1280px;
            margin: auto;
            margin-bottom: 50px;
        }

        .smol a {
            text-decoration: none;
            color: black;
        }

        .smol img {
            width: 180px;
            margin: 5px;        
            border: 1px solid black;
        }   

        .smol p {
           text-align: center;
        }

        .smol:hover {
            opacity: 0.8;          
       }

       .smol img:hover {
        border: 1px solid rgb(189, 15, 15);
       }

         /* ФУТОР */

         .footer {
            width: 1280px;
            background-color:rgb(27, 35, 48) ;
            height: 100px;
            margin: auto;
            font-family: 'Roboto', sans-serif;
            color:rgb(134, 134, 134);
         }
         
         .dropbf h1 {
            margin-top: -3px;
            color: rgb(134, 134, 134);
         }

         .footer p {
            margin-left: 230px;
            margin-top: 0;
         }

         .stroka {
            width: 1025px;
            display: flex;
            align-items: center;
            justify-content: center;
         }

        .dropbf {position: relative;
           left: -15%;
           font-size: 16px;
           background-color: rgb(27, 35, 48);
           border: none;
           height: 25px;
         }

         .social {position: relative;
            left: 40%;
            margin-top: 16px;
         }

        .social a {
           margin: 0px 5px; 
        }



       
